.HomePage {

  display: flex;
  flex-direction: column;
  height: 100%;

  .HomePageTitle {
    margin-top: 0;
    margin-bottom: var(--spacing-xl);
  }

  .BooksTablePagination {
    margin: auto;
    margin-bottom: 0;
    padding-top: var(--spacing-xl);
  }

}
